(
    name: "Futures Rewritten (Ultimate) — Intermission — Crystals",
    short_name: "Intermission — Crystals",
    map_id: 1006,
    background_path: "/sprites/arenas/ultimate/fru/i1.png",
    size: Vec2(40.0, 40.0),
    offset: Vec2(100.0, 100.0),
    shape: Circle(radius: 20.0),
)